extend extra/layout

block content

  .large-9.columns
    
    a.button.expand(href='http://push.mobilemind.com.br/apps/register/all') 
      | Register all

    a.button.expand(href='http://push.mobilemind.com.br/apps/remove/empty') 
      | Remove empty subscriber id
    
    a.button.expand(href='http://push.mobilemind.com.br/apps/show/all') 
      | Show all

    a.button.expand(href='http://push.mobilemind.com.br/apps/users') 
      | Users

    a.button.expand(href='http://push.mobilemind.com.br/apps/delete/all') 
      | Remove all

    a.button.expand(href='http://push.mobilemind.com.br/apps/remove/') 
      | Remove by subscriber id

    a.button.expand(href='http://push.mobilemind.com.br/apps/users-by-channel?channel=') 
      | List users by channel