extend extra/layout

block content

  .large-9.columns
    
    a.tiny.button(href='http://push.mobilemind.com.br/apps/register/all') 
      | Register all

    br
    br  
    
    a.tiny.button(href='http://push.mobilemind.com.br/apps/remove/empty') 
      | Remove empty subscriber id
    
    br
    br  

    a.tiny.button(href='http://push.mobilemind.com.br/apps/show/all') 
      | Show all

    br
    br  

    a.tiny.button(href='http://push.mobilemind.com.br/apps/users') 
      | Users

    br
    br  

    a.tiny.button(href='http://push.mobilemind.com.br/apps/delete/all') 
      | Remove all

    br
    br  

    a.tiny.button(href='http://push.mobilemind.com.br/apps/remove/') 
      | Remove by subscriber id

    br
    br  

    a.tiny.button(href='http://push.mobilemind.com.br/apps/users-by-channel?channel=') 
      | List users by channel