extend extra/layout

block css
  style().
    table tbody tr td{
      font-size: 12px;
    }

block content

  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2 Usuários Registrados

  .row
    .col-12
      table.table
        thead
          tr
            th Created At
            th Updated At
            th User Email
            th User Name
            th App Id
            th Channels
            th Debug
            th Server Name
            th Subcrible ID
            th Device Token
            th
        tbody

block js-inline
  script().
    $(document).ready(function(){

      var datatable = $('table').DataTable({
        ajax: function(data, callback, settings){

          var params = settings.oAjaxData
          var args = {            
            limit: params.length,
            offset: params.start,
            order_column: params.columns[params.order[0].column].data,
            order_sort: params.order[0].dir,
            search: params.search.value
          }

          $.ajax({
            url: "/apps/users",
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(args),
            success: function(data){

              if (data.error){
                alert(data.error)
              }
              else{

                var result = {
                  data: data.results,
                  recordsTotal: data.totalCount,
                  recordsFiltered: data.totalCount,
                }

                callback(result);
              }
            },
            error: function(x){
              alert('Erro ao executar requisição')
            }
          })          

        },
        processing: true,
        serverSide: true,
        pageLength: 25,
        responsive: true,
        stateSave: false,
        pagingType: "full_numbers",
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Tudo"]],
        columns: [
          { "data": "createdAt" },
          { "data": "updatedAt" },
          { "data": "app_user_email" },
          { "data": "app_user_name" },
          { "data": "app_id" },
          { "data": "subscrible_channels" },
          { "data": "app_debug" },
          { "data": "server_name" },
          { "data": "subscrible_id" },
          { "data": "app_hash" }
        ],
        aoColumns: [
          { "sType": "num-html", "data": "createdAt" },
          { "sType": "num-html", "data": "updatedAt" },
          { "sType": "num-html", "data": "app_user_email" },
          { "sType": "num-html", "data": "app_user_name" },
          { "sType": "num-html", "data": "app_id" },
          { "sType": "num-html", "data": "subscrible_channels" },
          { "sType": "num-html", "data": "app_debug" },
          { "sType": "num-html", "data": "server_name" },
          { "sType": "num-html", "data": "subscrible_id" },
          { "sType": "num-html", "data": "app_hash" },
        ],
        columnDefs: [
          {
            targets: 10,
            data: null,
            className: 'text-center',
            defaultContent: "<a href='#' title='Remover' class='tb-remove'><i class='fa fa-trash red font-red text-danger bigger-160'></i></a>"
          }
        ],
        aaSorting: [ 0, "desc" ],
        createdRow: function(row, data, index){

          $(row).attr('data-id', data._id)

          $('td', row).eq(0).text(moment(data.createdAt).format('DD/MM/YYYY HH:mm'))
          $('td', row).eq(1).text(moment(data.updatedAt).format('DD/MM/YYYY HH:mm'))

          $('td', row).eq(10).find('a').attr('href', "/apps/user/remove/" + data._id)
          $('td', row).eq(10).find('a').on('click', function(){
            return confirm('O registro será removido. Você confirma?')
          })
                        
        }
      })


      datatable.on('responsive-display', function(e, datatable, row, showHide, update) {
        var id;
        id = row.data().id;
        return $('tr').each(function(k, v) {
          
          if (("" + ($(v).data('id'))) === ("" + id)) {
            
            
              $(v).next().find('.tb-remove').attr('data-id', id);

              return $(v).next().find('.tb-remove').on('click', function(el) {

                if(confirm('O registro será removido. Você confirma?')){
                  window.location.href = "/apps/user/remove/" + ($(el).data('id'));
                } 

              });
            
          }

        });
        
      });


    })

      



