doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
        | Push Server | Mobile Mind
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')    
    link(rel='stylesheet', href='https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.0/datatables.min.css')
    link(href='/css/dashboard.css', rel='stylesheet')
    block css
      
  body

    nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
      a.navbar-brand.col-sm-3.col-md-2.mr-0(href='/') Push Server

      ul.navbar-nav.px-3
        li.nav-item.text-nowrap
          a.nav-link(href='/logout') Sair
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            ul.nav.flex-column
              li.nav-item
                a.nav-link.active(href='/')
                  span(data-feather='home')
                  | Home 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/apps/messages')
                  span(data-feather='file')
                  | Notificacoes Enviadas
              li.nav-item
                a.nav-link(href='/apps/message')
                  span(data-feather='shopping-cart')
                  | Enviar Notificacao
              li.nav-item
                a.nav-link(href='/apps/users')
                  span(data-feather='shopping-cart')
                  | Usuários Registardos
              li.nav-item
                a.nav-link(href='/apps/configurations')
                  span(data-feather='shopping-cart')
                  | Server Configs
              li.nav-item
                a.nav-link(href='/apps/settings')
                  span(data-feather='shopping-cart')
                  | Server Settings                  
              li.nav-item
                a.nav-link(href='/apps/logs')
                  span(data-feather='shopping-cart')
                  | Server Logs                  
            h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
              span NOtificacoes
              a.d-flex.align-items-center.text-muted(href='#')
                span(data-feather='plus-circle')
            ul.nav.flex-column.mb-2
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='file-text')
                  | Visualizar
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='file-text')
                  |  Enviar
        main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
          block content

    block modal

    script(src='/js/libs/jquery-3.2.1.js')
    script(src='/js/libs/underscore-min.js')
    script(src='/js/libs/backbone-min.js')
    script(src='/js/libs/bootbox.min.js')
    script(src='https://momentjs.com/downloads/moment.min.js')
    script(src='https://momentjs.com/downloads/moment-with-locales.min.js')
    script(src="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.0/datatables.min.js")
    script(src='/bootstrap/js/bootstrap.min.js')

    block js-inline